 
 *{
    margin: 0;
    padding: 0;
    box-sizing: content-box
 }
 
 .cards {
        display:flex;
    }

 .card {
          background: orange;
          border: 1px solid black;
          margin: 10px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
    }

    .card:hover {
        background: yellow;
        cursor: pointer;
    }

    .card::first-letter {
        font-weight: bold;
        font-size: 2rem;
        text-transform: capitalize;
    }

     .spotlight {
        background: red;
        }